.content{
  height: 630px;

}

.content div{
  border-top: 2px solid #ccc;
  margin-top: 50px;
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}

.content p{
  margin-top: 15px;
}

.content h2{
  float: left;
  padding-right: 15px;
  width: 300px;
}

.content ul{
  width: 250px;
  float: right;
}

@media screen and (max-width: 700px) {
  .content{
    height: 1000px;
  }

  .content div{
    width: 400px;
  }

  .content ul {
    margin-top: 30px;
    float:none;
    margin-left: 30px;
  }

  .content h2{
    float: none;
  }
}
