.content{
  width:100%;
}

.contactDescription{
  width: 250px;
  margin-right: 5px;

  border-top: 2px solid#ccc;
  float: left;
}

.contactDescription h1{
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.contactInfo{
  padding: 15px;
  float: right;
  width: 280px;
  height: 250px;
  background-color: #ccc;
  border: 2px solid #000;
  border-radius: 12px;
}

.contactInfo ul{
  margin-top: 30px;
  margin-left: 5px;
}

.contactInfo li{
  margin-top: 15px;
}

.outerDiv {
  padding-top: 100px;
  margin: auto;
  height: 350px;
  width: 650px;
}

.bold{
  font-weight: bold;
}

@media screen and (max-width: 700px){
  .outerDiv{
    width: 280px;
    height: 800px;
  }

  .contactInfo{
    margin-top: 50px;
  }
}
