@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  font-family: "roboto", sans-serif;
  background-color: #222;
}

.container nav.desk,
.container nav.mob{
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #364a4b;
  height: 60px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
}

nav.desk ul {
  list-style: none;
  width: 60%;
  height: 60px;
  margin: 0 auto;
}

nav.desk ul li {
  width: 25%;
  float: left;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s ease;
}

nav.desk ul li:hover,
nav.mob ul li:hover{
  background: #a3ada5;
}

nav.desk ul li.active,
nav.mob ul li.active{
  background: #a3ada5;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.content{
  border-top: 2px solid #000;
  background-color: #eee;
}

footer{
  width: 100%;
  height: 240px;
  background: #222;
  z-index: 0;

}

.quickLinks{
  padding-left: 30px;
  padding-top: 20px;
  float: left;
}

.quickLinks h3{
  width: 100px;
  color: #fff;
  border-bottom: 1px solid #fff
}

.quickLinks li{
  margin-top: 5px;
  font-size: 14px;
  list-style-type: none;
  border-left: 1px solid #fff;
}

.quickLinks a{
  padding-left: 2px;
  color: #fff;
  text-decoration: none;
}

.quickLinks a:hover{
  color: #ccc;
}

.footerLogo{
  padding-right: 30px;
  padding-top: 10px;
  width: 160px;
  float: right;
}

.footerLogo img{
  float: left;
  height: 45px;
  width: 45px;
}

.footerLogo h2{
  float: right;

  color: #fff;
}

.mob,
.hamburger-btn {
  display: none;
}

.parallax{
  background-image: url('../images/main_cover_cropped.jpg');
  width:100%;
  height: 500px;
  background-size: 100% 100%;
  margin-top: 50px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}

.titleBoxPositioner{
  width: 100%;
  height: inherit;
  z-index: -1;
}

.titleBox{
  position: absolute;
  top: 40%; left: 30%;
  transform: translate(-50%,-50%);
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid #000000;
  width: 400px;
  padding: 15px;
}


.titleBox h1{
  padding-top: 15px;
  color: #ffffff;
  font-size: 50px;
  padding-left: 15px;
  float:left;
}

.titleBox img{
  width: 140px;
  height: 140px;
  float:left;
}

.facebookLink a{
  margin-left: 0px;
  height: 60px;
}

.facebookLink img{
  width: 45px;
  height: 45px;
}

@media screen and (max-width: 1366px) {


  .titleBox{
    top: 40%; left: 50%;
  }

  nav.desk {
    display: none;
  }

  nav.mob,
  .hamburger-btn {
    display: block;
  }

  .hamburger-btn {
    position: relative;
  }

  .hamburger-btn .fa-bars,
  .hamburger-btn .fa-times {
    position: fixed;
    right: 25px;
    top: 15px;
    width: 20px;
    height: 20px;
    font-size: 35px;
    color: #fff;
    cursor: pointer;
  }

  .mob ul{
    margin-top: 60px;
    background: #364a4b;
    display: none;
  }

  .mob li {
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    cursor: pointer;
  }

  .mob ul.active {
    display: block;
  }
}
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
